/* App.css */

.about-page {
  background-color: beige;
  min-height: 100vh;
  height: max-content;
  min-width: 100vh;
}

.about-container {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: beige;
  color: #333;
  font-family: Arial, sans-serif;
}

.about-section {
  margin: 20px 20px;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
}

h1 {
  text-align: center;
  color: #333;
  font-family: Arial, sans-serif;
}
