* {
  box-sizing: border-box;
}

.Demo {
  background-color: beige;
  min-height: 100vh;
  height: 100%;
}

/* Next & previous buttons */
.presentation,
.annotations-container {
  /*Make it aligned with the slideshow-container*/
  cursor: pointer;
  position: absolute;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Slideshow container */
.slideshow-container {
  display: table-cell;
  justify-content: left;
  position: relative;

  /* make it a box with black and large borders with rounded corners, text inside it should be 10px off the left margin*/
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  padding-left: 40px;
  padding-top: 2px;
}

/* annotations box */
.annotations {
  /* center it inside the annotations-container*/
  position: relative;
  display: flex;
  flex-direction: column;

  /* make it a box with black and large borders with rounded corners, text inside it should be 10px off the left margin*/
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Hide the images by default */
.code {
  /* padding only from the left, not from the top. The amount is the size of the prev*/
  /*padding-left: 50px;
  */
  font-size: large;
}

table {
  padding-left: 5%;
  width: 95%;
}

.presentation-title {
  /* center it */
  text-align: center;
  font-weight: bold;
}

.slide-title {
  padding-left: 2%;
  /* center it */
  text-align: left;
  font-weight: bold;
}

.slide-description {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100%;
}

.slide-exercise {
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 0px;
}

.left {
  flex-direction: column;
  flex: 0 0 auto;
  width: 25%;
}
.middle {
  flex: 1 1 auto;
  align-content: center;
  text-align: center;
}
.right {
  flex-direction: column;
  flex: 0 0 auto;
  width: 25%;
}

/* Next & previous buttons */
.prev,
.next {
  /*Make it aligned with the slideshow-container*/
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 22px;
  padding-bottom: 0;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: white(0, 0, 0, 0.8);
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.new-ano-container {
  position: relative;
  width: 200px;
  max-height: max-content;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}

.ano-circle {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 40px;
  height: 40px;
  background-color: beige;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.ano-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.wrapped-in-reactive:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}

.graph-container {
  position: relative;
  display: inline-block;
  border: 2px solid black;
  background-color: white;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
}

.graph {
  width: fit-content;
  height: fit-content;
}

.path {
  stroke: black;
  stroke-width: 2;
}

.dot {
  cursor: pointer;
}

.dot:hover {
  stroke: green;
  stroke-width: 2;
}
