.doc-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.documentation-container {
  background-color: beige;
  color: #333;
  font-family: Arial, sans-serif;
}

.documentation {
  margin: 0 auto;
  width: 80vw;
}

.syntax-example {
  text-align: center;
}

.code-div {
  display: flex;
  justify-content: center;
}

.code-example {
  margin: 0 auto; /* Center horizontally */
  max-width: 100%; /* Set a max width if needed */
  padding: 10px; /* Optional: add some padding */
  white-space: pre-wrap; /* Allow wrapping and preserve whitespace */
  word-wrap: break-word;
}

.doc-header {
  background-color: beige; /* Adjust this for your theme */
  padding: 20px;
  color: #333;
  text-align: center;
}

.doc-section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
}

table.doc-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table.doc-table th,
table.doc-table td {
  border: 1px solid #555;
  padding: 8px;
}

table.doc-table th {
  background-color: #f1f1f1;
  color: #333;
}

.break-text {
  white-space: pre-wrap; /* Allows text to wrap */
  word-wrap: break-word; /* Breaks long words if necessary */
  overflow-wrap: break-word; /* Breaks long words in all browsers */
}

.doc-footer {
  text-align: center;
  margin-top: 40px;
}
