/* Button Container Styles */
.feedback-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.feedback-textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  resize: none;
}

.feedback-textarea::placeholder {
  color: #555;
  font-weight: bold;
}

/* Button Styles */
.feedback-button {
  width: max-content;
  height: max-content;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

/* Button Styles */
.feedback-button:hover {
  border: 2px solid #333;
  background-color: #333;
  color: white;
}
